{% extends 'layouts.html' %}
{% block title %} Signup {% endblock %}
{% block content %}
<div class='row'>
  <div class='col-md-8 offset-md-2'>
    <h1>Signup </h1>
    <form action="{% url 'user:signup' %}" method='POST' class='form'>
      {{ csrf_field }}
      <!-- {{ form.as_p }} -->
      {% for field in form %}
      <div class='form-group'>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
        {% if field.help_text %}
        <small id="emailHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}